In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('record.csv')

In [3]:
df.head()

        fever  bodypain  age  runnynose  diffBreath  infectionProp
0   99.935590         0   74          0           0              0
1   99.456467         0   41          1           1              1
2   98.090342         1   69          0           0              1
3  101.086844         1   24          1           0              1
4   99.695953         1   28          1          -1              1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          1050 non-null   float64
 1   bodypain       1050 non-null   int64
 2   age            1050 non-null   int64
 3   runnynose      1050 non-null   int64
 4   diffBreath     1050 non-null   int64
 5   infectionProp  1050 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 49.3 KB

In [5]:
df.describe()

,fever,bodypain,age,runnynose,diffBreath,infectionProp
count,1050.000000,1050.000000,1050.000000,1050.000000,1050.000000,1050.000000
mean,99.957072,0.501905,51.142857,0.522857,-0.060000,0.521905
std,1.180161,0.500235,28.681123,0.499715,0.821088,0.499758
min,98.002781,0.000000,0.000000,0.000000,-1.000000,0.000000
25%,98.946599,0.000000,26.000000,0.000000,-1.000000,0.000000
50%,99.937016,1.000000,52.000000,1.000000,0.000000,1.000000
75%,100.963312,1.000000,76.000000,1.000000,1.000000,1.000000
max,101.994766,1.000000,100.000000,1.000000,1.000000,1.000000

In [6]:
from sklearn.model_selection import train_test_split
X=df.drop(['infectionProp'],axis='columns')
Y=df['infectionProp']
X

           fever  bodypain  age  runnynose  diffBreath
0      99.935590         0   74          0           0
1      99.456467         0   41          1           1
2      98.090342         1   69          0           0
3     101.086844         1   24          1           0
4      99.695953         1   28          1          -1
...          ...       ...  ...        ...         ...
1045   98.252753         1   69          1          -1
1046   99.483880         0    0          0          -1
1047   98.167019         1   76          0           0
1048   98.031240         1    5          0           0
1049  100.615968         0   17          1           1

[1050 rows x 5 columns]

In [7]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3)

In [8]:
X_train

           fever  bodypain  age  runnynose  diffBreath
184    99.729543         0   48          1          -1
143   101.538242         0   44          1          -1
156    98.678773         0   19          1          -1
4      99.695953         1   28          1          -1
1006   99.519025         1   20          0           0
...          ...       ...  ...        ...         ...
566   100.738023         1   21          0          -1
684   100.945015         1   51          0          -1
983   100.314986         1  100          0           1
978   101.481107         0   46          1           1
558   100.917790         1   75          1           0

[735 rows x 5 columns]

In [9]:
X_test

          fever  bodypain  age  runnynose  diffBreath
559   98.134919         0   98          0           0
50    98.992410         1    6          1           0
441  101.866824         1   34          1          -1
130   99.397995         0   73          1           0
570  100.138372         0   61          0          -1
..          ...       ...  ...        ...         ...
173  100.006651         0   66          1           1
302   99.172535         1   89          1           0
614   99.546313         0    0          0          -1
396  100.248780         0   38          0          -1
967   99.190339         1   94          1           0

[315 rows x 5 columns]

In [10]:
X_train=X_train.to_numpy()
X_test=X_test.to_numpy()

In [11]:
Y_train=Y_train.to_numpy()
Y_test=Y_test.to_numpy()

In [12]:
Y_train

array([0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1,
       0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0,
       0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1,
       1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 1, 1], dtype=int64)

In [13]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [14]:
model.fit(X_train,Y_train)

LogisticRegression()

In [19]:
infoprob= model.predict_proba([[100,1,45,-1,0]])[0][1]
infoprob

0.5703102397760593